#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Gnome IRC
Comment=IRC Client for the Gnome Desktop
Exec=gnome-irc
Icon=/usr/share/gnome-irc/irc.png
Terminal=false
